.github/
.husky/
.vscode/
coverage/
dist/main/*.d.ts
dist/main/*.d.ts.map
dist/tsconfig.cjs.tsbuildinfo
dist/tsconfig.tsbuildinfo
docs/
src/
tests/
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.json
.releaserc
.tool-versions
commitlint.config.js
global.d.ts
jest.config.js
pnpm-lock.yaml
testSetup.js
tsconfig.cjs.json
tsconfig.json